PyDevShamroq/xsd-schema/normal/lrml-normal-2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schema">
    <xs:annotation>
      <xs:documentation>
     LegalRuleML Core Specification Version 1.0 
     OASIS Standard
     30 August 2021
     Copyright (c) OASIS Open 2021. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalruleml/legalruleml-core-spec/v1.0/os/xsd-schema/
     Latest stage of the specification: https://docs.oasis-open.org/legalruleml/legalruleml-core-spec/v1.0/legalruleml-core-spec-v1.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalruleml/ipr.php
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="import" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="namespace" use="optional"/>
                <xs:attribute type="xs:string" name="schemaLocation" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="annotation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="documentation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:QName" name="type"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="complexType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="annotation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="documentation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="complexContent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="extension">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attributeGroup">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:QName" name="ref"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:QName" name="base"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="attributeGroup">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="annotation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="documentation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="attributeGroup">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:QName" name="ref"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="attribute">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:QName" name="ref" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="sequence">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="maxOccurs"/>
                            <xs:attribute type="xs:byte" name="minOccurs"/>
                            <xs:attribute type="xs:QName" name="ref"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sequence" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="group">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:QName" name="ref" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="choice">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:QName" name="ref" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="maxOccurs" use="optional"/>
                              <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="choice" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:QName" name="ref" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="annotation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="documentation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="complexContent" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="extension">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:QName" name="base"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="simpleType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="annotation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="documentation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="restriction" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="enumeration" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:QName" name="base"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="choice" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:QName" name="ref" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute type="xs:string" name="elementFormDefault"/>
      <xs:attribute type="xs:anyURI" name="targetNamespace"/>
    </xs:complexType>
  </xs:element>
</xs:schema>